header{
    background-image: url(/Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 100px;
    justify-content: center;
    background-position: center;
    text-align: center;
    padding: 0;
    margin: 0;
    

    
}
nav{
    display: flex;
    justify-content: space-around;
    margin: 0 150px;
    gap: 1050px;
}

.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
nav li{
    list-style: none;
}
.nav-title{
    color: #4E47FF;
    font-size: 34px;


}
.btn-primary{
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 18px 35px;
    font-size: 16px;
}
.banner{
    text-align: center;
    padding: 309px 267px 152px 267px;
    
}
.banner-title{
    padding: auto;
}
.btn2{
margin: 37px 0 0 0;

}
.overall{
    display: flex;
    justify-content: space-around;
    margin: 200px 141px;
}
.picture1{
    border: none;
    border-radius: 48px;

}
.text-color2{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
}
.text-color1{
    color: rgba(37, 36, 50, 1);
    font-size: 42px;
    font-weight: bold;
}